.book-cover-left {
    text-align: center;
}
.social-share{
    text-align: center;
    margin: 3% 0;
}





.download-list button{
    margin-bottom:10px;
    width: 100%;
    display: block;
    min-height: 48px;
}

.recommand dl {
    height: 220px;
}


/**index**/
.book-list{
    position: relative;
}

.book-thumbnail,.book-info {
    text-align: center;
}
.btn.douban {
    position: absolute;
    display: none;
}

/**slider**/

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}


.rslides_tabs {
    background: rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 0px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;

}
.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}
.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
    color:#fff;

}
.slider-box {position: relative}

.btn.btn-weibo {
    color: white;
    background-color: #d04340;
}
.btn.btn-wechat{
    color: white;
    background-color: #A9D83C;
}

.clear{clear:both;}
.reg-login-btns {margin-bottom: 20px;}

.fp-book-meta {
    margin:0 10px;
}
.fp-book-meta h5{
    font-size:14px;
    margin:10px 0;
}

.comment-left {
    display: inline-block;
}
.comment-right {
    display: inline-block;
    width: 70%;
}

.newsanchor_recent_comments li {
    margin-top:10px;
    padding-top:10px;
    clear: both;
}

.comment-on {
    text-align: right;
}

.newsanchor_recent_posts_widget .thumb {display: none;}
.newsanchor_recent_posts_widget ul .date {display: none;}
.newsanchor_recent_posts_widget ul li{margin-top: 5px; padding-top: 16px;  }


.pocket-list h3 {font-size: 16px;}

.pagination-bar nav{text-align: center}
.sidebar.cat-cloud-tag-widget {margin-bottom: 15px;}